#wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 90vh;
}

.title-banner {
	width: fit-content;
	margin: 0px auto 50px auto;
}

.menu {
	width: fit-content;
	height: fit-content;
	border-radius: 4px;
	background-color: #37322C;
	margin: auto;
	padding: 5px 10px;
}

.balance-link {
	width: 400px;
}

h1 {
	font-family: TF2Build;
	color: #E6E6E6;
	font-size: 24px;
	text-shadow: 3px 3px #141414;
	text-align: left;
	margin-left: 10px;
	margin-bottom: 0px;
}

h2 {
	font-family: TF2Build;
	font-size: 80px;
	text-align: center;
	color: #F4722B;
	text-shadow: 3px 3px #141414;
	margin: 8px 0px;
}

h3 {
	font-family: TF2Build;
	font-size: 24px;
	color: #F3A957;
	text-shadow: 3px 3px #141414;
	margin: 8px 0px;
}
