.menu {
	width: 500px;
	height: 500px;
	background-color: #3E3E3E;
	margin: auto;
	margin-top: 150px;
}

.balance-link {
	width: 400px;
}

h1 {
	font-family: 'TF2 Build';
	color: #E6E6E6;
	font-size: 24px;
}
