@font-face { font-family: "TF2"; src: url('fonts/TF2.ttf') format('truetype'); }
@font-face { font-family: "TF2Secondary"; src: url('fonts/TF2secondary.ttf') format('truetype'); }
@font-face { font-family: "TF2Build"; src: url('fonts/tf2build.ttf') format('truetype'); }
@font-face { font-family: "Samdan"; src: url('fonts/samdan.ttf') format('truetype'); }

/* These stylizations are used by multiple pages */

body {
	background-color: #3E3E3E;
}

img {
	user-select: none;
}

a {
	text-decoration: none;
	user-select: none;
}

p {
	padding: 5px;
	margin: 0.5em 0;
}

.item-card {
	border-radius: 10px;
	background-color: #24201B;
	text-align: center;
	line-height: 1.6;
	padding: 7px 0;
}

.item-name {
	font-family: TF2Build;
	color: #FFD700;
	font-size: 18px;
	text-shadow: 2px 1px 1px #24201B;
}

.item-img {
	background-color: #3C362F;
	border-radius: 10px;
	width: 150px;
	height: 113px;
}

.item-stats {
	margin: 0.5em 7px;
}

.item-icon {
	background: none no-repeat #24201B;
	background-size: 44px;
	background-position: 7px 7px;
}
.icon-NEW { background-image: url('resources/icons/Alert.png'); }
.icon-WIP { background-image: url('resources/icons/Work-In-Progress_tab.png'); background-size: 60px; background-position: 0px 0px; }

/* Stat colors */
.stat {
	font-family: TF2Secondary;
	font-size: 15px;
}
.upside { color: #99CCFF; }
.downside { color: #FF4040; }
.neutral { color: #EBE2CA; }
.subtle { color: #756B5E; }
.credits { color: #7AC437; }
.consumable { color: #00A000; }
.limited { color: yellow; }
.item-set-active { color: #E1FF0F; }
.item-set-inactive { color: #95AF0C; }

/* Item Quality colors */
.q-stock { color: #B2B2B2; }
.q-unique { color: #FFD700; }
.q-vintage { color: #476291; }
.q-genuine { color: #4D7455; }
.q-strange { color: #CF6A32; }
.q-unusual { color: #8650AC; }
.q-haunted { color: #38F3AB; }
.q-collectors { color: #AA0000; }
.q-community { color: #70B04A; }
.q-valve { color: #A50F79; }

/* Item Grade colors */
.g-civilian { color: #B0C3D9; }
.g-freelance { color: #5E98D9; }
.g-mercenary { color: #4B69FF; }
.g-commando { color: #8847FF; }
.g-assassin { color: #D32CE6; }
.g-elite { color: #EB4B4B; }

/* Paint Can colors */
.p-australium { color: #E7B53B; }
.p-mannco { color: #CF7336; }
.p-moustache { color: #7E7E7E; }
.p-zepheniah { color: #424F3B; }

/* Achievement Colors (Background) */
.a-grey-dark { background-color: #3E3E3E; }
.a-grey { background-color: #9A9280; }
.a-white { background-color: #F5E5C1; }
.a-orange { background-color: #F4772B; }
.a-orange-dark { background-color: #B46032; }

/* Changes stat icons */
.modified {
	background: url('resources/icons/Pictogram_neutral.png') no-repeat;
	background-size: 16px;
	padding-left: 20px;
}
.added {
	background: url('resources/icons/Pictogram_plus.png') no-repeat;
	background-size: 16px;
	padding-left: 20px;
}
.removed {
	background: url('resources/icons/Pictogram_minus.png') no-repeat;
	background-size: 16px;
	padding-left: 20px;
}
.info {
	background: url('resources/icons/Pictogram_info.png') no-repeat;
	background-size: 16px;
	padding-left: 20px;
}
.wip {
	background: url('resources/icons/Work-In-Progress.png') no-repeat;
	background-size: 16px;
	padding-left: 20px;
}

.tooltip {
	cursor: help;
	border-bottom: 1px dotted;
}

.tooltip-link {
	cursor: alias;
	border-bottom: 1px dotted;
	color: inherit;
}
.tooltip-link:hover { color: #FFD700; }

.BWR-link {
	margin-top: 8px;
	display: inline-block;
	line-height: 1;
	padding: 2px 4px;
	border: 3px solid #608080;
	border-right-color: #C04040;
	border-bottom-color: #C04040;
	color: #FFFBF0;
	background-color: #504d56;
	font-family: TF2Build;
	font-size: 18px;
	border-radius: 4px;
	text-shadow: 2px 2px 3px black;
	cursor: alias;
}
.BWR-link:hover { color: #FFD700; }

.nav-panel {
	position: fixed;
	width: 80px;
	background-color: #222222;
	top: 5px;
	left: 5px;
	border-radius: 10px;
	display: block;
}

.nav-btn {
	height: 50px;
	background-color: #F5E5C1;
	box-shadow: #9A9280 -3px -3px inset;
	color: #141414;
	font-family: TF2Build;
	font-size: 28px;
	line-height: 50px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0px;
	user-select: none;
	cursor: pointer;
	z-index: 2;
}
.nav-btn:hover {
	background-color: #F4722B;
	box-shadow: #B46032 3px 3px inset;
}
.img-nav-btn {
	float: left;
	width: 32px;
	height: 32px;
	margin: 5px 0px 0px 5px;
	padding: 0px;
	background: none no-repeat #F5E5C1;
	background-size: 20px;
	background-position: 5px 5px;
}
.img-nav-btn:hover  {
	background-position: 6px 6px;
}

/* Navigation Button Types */
.nav-menu {
	background-image: url('resources/icons/Nav_Menu.png');
}
.nav-menu-still {
	background-image: url('resources/icons/Nav_Menu.png');
	background-position: 6px 6px;
	background-color: #F3A957;
	box-shadow: none;
	cursor: default;
}
.nav-menu-still:hover {
	background-color: #F3A957;
	box-shadow: none;
}
.nav-github {
	background-image: url('resources/icons/Nav_GitHub.png');
}
.nav-top {
	width: 70px;
	margin: 5px 0px 5px 5px;
	background-image: url('resources/icons/Nav_Top.png');
	background-position: 25px 5px;
}
.nav-top:hover {
	background-position: 26px 6px;
}
