@font-face { font-family: "TF2"; src: url('fonts/TF2.ttf') format('truetype'); }
@font-face { font-family: "TF2Secondary"; src: url('fonts/TF2secondary.ttf') format('truetype'); }
@font-face { font-family: "TF2Build"; src: url('fonts/tf2build.ttf') format('truetype'); }

/* These stylizations are used by multiple pages */

body {
	background-color: #3E3E3E;
}

img {
	user-select: none;
}

a {
	text-decoration: none;
	user-select: none;
}

.item-card {
	width: 400px;
	border-radius: 10px;
	background-color: #222222;
	text-align: center;
	line-height: 1.6;
	padding: 7px;
}

.item-name {
	font-family: TF2Build;
	color: #FFD700;
	font-size: 18px;
}

.item-img {
	background-color: #3C362F;
	border-radius: 10px;
}

.stat {
	font-family: TF2Secondary;
	font-size: 15px;
	margin: 0px 7px;
}
.upside { color: #99CCFF; }
.downside { color: #FF4040; }
.neutral { color: #EBE2CA; }

.nav-btn {
	height: 50px;
	background-color: #F5E5C1;
	box-shadow: #9A9280 -3px -3px inset;
	color: #141414;
	font-family: 'TF2 Build';
	font-size: 28px;
	line-height: 50px;
	border-radius: 10px;
	padding-left: 7px;
	margin: 10px 0px;
	user-select: none;
	cursor: pointer;
}

.nav-btn:hover {
	background-color: #F4722B;
	box-shadow: #B46032 3px 3px inset;
}

.home-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	text-align: center;
	position: sticky;
	top: 10px;
	left: 10px;
}

.up-btn {
	display: inline-block;
	width: 50px;
	padding: 0px;
	text-align: center;
	position: fixed;
	bottom: 10px;
	left: 10px;
}
