h1 {
	font-family: TF2Build;
	font-size: 72px;
	text-align: center;
	color: #F4722B;
	text-shadow: 3px 3px #141414;
	margin: initial auto;
}

table {
	table-layout: fixed;
	width: 1200px;
	max-width: 94%;
	margin: 15px auto;
	text-align: center;
}

th {
	background-color: #F3A957;
	font-family: TF2;
	font-size: 36px;
	padding: 5px 0px;
	border-radius: 10px;
}

#quick-access {
	width: auto;
	max-width: 98%;
	margin: 0px auto;
	background-color: #F3A957;
	padding: 2px;
	border-radius: 4px;
	font-size: 24px;
	font-family: TF2Secondary;
}

.class-portrait {
	width: 120px;
	max-width: 100%;
	display: block;
}
.class-portrait:hover {
	filter: brightness(110%) contrast(70%);
}

.class-icon {
	height: 30px;
	margin-right: 10px;
}

.nav-text {
	background-color: #3E3E3E;
	color: #F5E5C1;
	padding: 1px 15px;
	border-radius: 5px;
}

#halloween-backdrop {
	background-image: url('../resources/halloween/backdrop.png');
	background-size: cover;
	background-attachment: fixed;
}

/* Spell Icons */
.icon-SummonMonoculus { background-image: url('../resources/halloween/spell_monoculus.png'); }
.icon-BallOLightning { background-image: url('../resources/halloween/spell_tesla.png'); }
.icon-SkeletonHorde { background-image: url('../resources/halloween/spell_skeletons.png'); }
.icon-SwarmsOfBats { background-image: url('../resources/halloween/spell_bats.png'); }
.icon-PumpkinBomb { background-image: url('../resources/halloween/spell_pumpkin.png'); }
.icon-ShadowWalk { background-image: url('../resources/halloween/spell_teleport.png'); }
.icon-BlastJump { background-image: url('../resources/halloween/spell_blastjump.png'); }
.icon-Overheal { background-image: url('../resources/halloween/spell_heal.png'); }
.icon-Stealth { background-image: url('../resources/halloween/spell_stealth.png'); }
.icon-Minify { background-image: url('../resources/halloween/spell_minify.png'); }
.icon-Fireball { background-image: url('../resources/halloween/spell_fireball.png'); }

.mvm-mini-item {
	width: 26px;
	height: 20px;
	background-color: #1B1B1B;
	border-radius: 3px;
	position: relative;
	top: 5px;
	cursor: pointer;
	user-select: none;
}
.mvm-mini-item:hover {
	background-color: #3C362F;
}

.upgrade-icon {
	width: 24px;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	border: 1px solid #ECE3CB;
	border-radius: 4px;
	margin-bottom: 2px;
	user-select: none;
}

/* Canteen Icons */
.icon-CanteenUpgrade { background-image: url('../resources/mvm/canteen_upgrade.png'); }
.icon-CanteenRefill { background-image: url('../resources/mvm/canteen_refill.png'); }
.icon-CanteenKritz { background-image: url('../resources/mvm/canteen_kritz.png'); }
.icon-CanteenUber { background-image: url('../resources/mvm/canteen_uber.png'); }
.icon-CanteenRecall { background-image: url('../resources/mvm/canteen_recall.png'); }
