body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: TF2Build;
	font-size: 4.5rem;
	text-align: center;
	color: #F4722B;
	text-shadow: 3px 3px #141414;
	flex-basis: 100%;
}

table {
	table-layout: fixed;
	width: 75rem; /* 1200px */
	margin: 1rem 0;
	text-align: center;
	font-size: 0.9375rem; /* 15px */
}

th {
	background-color: #F3A957;
	font-family: TF2;
	font-size: 36px;
	padding: 5px 0px;
	border-radius: 10px;
}

.nav-bookmarks {
	flex-basis: 100%;
	text-align: center;
	max-width: 75rem; /* 1200px */
	width: fit-content;
	margin-bottom: 1rem;
}

#class-selection {
	display: grid;
	gap: 2px;
	grid-template-columns: repeat(9, 1fr); /* Default 1x9 */
	margin: 0px auto;
	background-color: #F3A957;
	padding: 2px;
	border-radius: 4px;
	font-size: 1.5rem;
	font-family: TF2Secondary;
}

@media (max-width: 77rem) {
	#class-selection {
		grid-template-columns: repeat(3, 1fr); /* Switch to 3x3 */
	}
}

.class-portrait {
	width: 120px;
	max-width: 100%;
	display: inline;
}
.class-portrait:hover {
	filter: brightness(110%) contrast(70%);
}

.class-icon {
	height: 30px;
	margin-right: 10px;
}

.nav-text {
	background-color: #3E3E3E;
	color: #F5E5C1;
	padding: 1px 15px;
	border-radius: 5px;
}

.score-0, .score-1, .score-2, .score-3, .score-4 {
	padding-right: 20px;
	display: inline-block;
	font-size: 1rem;
	line-height: 1rem;
}
.score-0 {
	background: url('../resources/icons/Ping_Undetermined.png') no-repeat;
	background-size: 1rem;
	background-position: right center;
	content: "Confidence Score: Undetermined";
}
.score-0::before {
	content: "Confidence Score: Undetermined";
}
.score-1 {
	background: url('../resources/icons/Ping_Very_High.png') no-repeat;
	background-size: 1rem;
	background-position: right center;
	content: "Confidence Score: Unsure";
}
.score-1::before {
	content: "Confidence Score: Unsure";
}
.score-2 {
	background: url('../resources/icons/Ping_High.png') no-repeat;
	background-size: 1rem;
	background-position: right center;
	content: "Confidence Score: Optimistic";
}
.score-2::before {
	content: "Confidence Score: Optimistic";
}
.score-3 {
	background: url('../resources/icons/Ping_Medium.png') no-repeat;
	background-size: 1rem;
	background-position: right center;
}
.score-3::before {
	content: "Confidence Score: Confident";
}
.score-4 {
	background: url('../resources/icons/Ping_Low.png') no-repeat;
	background-size: 1rem;
	background-position: right center;
}
.score-4::before {
	content: "Confidence Score: Adamant";
}

#halloween-backdrop {
	background-image: url('../resources/halloween/backdrop.png');
	background-size: cover;
	background-attachment: fixed;
}

/* Spell Icons */
.icon-SummonMonoculus { background-image: url('../resources/halloween/spells/Summon_Monoculus.png'); }
.icon-BallOLightning { background-image: url("../resources/halloween/spells/Ball_O'_Lightning.png"); }
.icon-SkeletonHorde { background-image: url('../resources/halloween/spells/Skeleton_Horde.png'); }
.icon-SwarmsOfBats { background-image: url('../resources/halloween/spells/Swarm_of_Bats.png'); }
.icon-PumpkinBomb { background-image: url('../resources/halloween/spells/Pumpkin_MIRV.png'); }
.icon-ShadowWalk { background-image: url('../resources/halloween/spells/Shadow_Leap.png'); }
.icon-BlastJump { background-image: url('../resources/halloween/spells/Blast_Jump.png'); }
.icon-Overheal { background-image: url('../resources/halloween/spells/Overheal.png'); }
.icon-Stealth { background-image: url('../resources/halloween/spells/Stealth.png'); }
.icon-Minify { background-image: url('../resources/halloween/spells/Minify.png'); }
.icon-Fireball { background-image: url('../resources/halloween/spells/Fireball.png'); }

.mvm-mini-item {
	width: 26px;
	height: 20px;
	background-color: #3C362F; /* #1B1B1B or #0F0E0C */
	border-radius: 3px;
	position: relative;
	bottom: 2px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
}
.mvm-mini-item:hover {
	background-color: #C9BBA1;
}

.mvm-mini-class {
	background-color: transparent !important;
	width: 20px !important;
	cursor: help;
	margin-left: 1px;
}
.mvm-mini-allclass {
	background-color: transparent !important;
	width: 20px !important;
	cursor: help;
	margin-left: 5px;
}

.upgrade-icon {
	width: 24px;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	border: 1px solid #ECE3CB;
	border-radius: 4px;
	margin: 0 5px 2px 5px;
	user-select: none;
}

/* Canteen Icons */
.icon-CanteenUpgrade { background-image: url('../resources/mvm/Canteen_Upgrade.png'); }
.icon-CanteenRefill { background-image: url('../resources/mvm/Canteen_Refill.png'); }
.icon-CanteenKritz { background-image: url('../resources/mvm/Canteen_Kritz.png'); }
.icon-CanteenUber { background-image: url('../resources/mvm/Canteen_Uber.png'); }
.icon-CanteenRecall { background-image: url('../resources/mvm/Canteen_Recall.png'); }

.upgrade_info {
	display: none;
}

:checked + .upgrade_info {
	display: initial;
}

.mini-cosmetic {
	width: 75px;
	height: 56px;
	background-color: #3C362F;
	border-radius: 8px;
	position: relative;
	top: 5px;
	cursor: pointer;
	user-select: none;
}
.mini-cosmetic:hover {
	background-color: #C9BBA1;
}
