h1 {
	font-family: TF2Build;
	font-size: 80px;
	text-align: center;
	color: #F4722B;
	text-shadow: 3px 3px #141414;
	margin: initial auto;
}

table {
	table-layout: fixed;
	width: 1200px;
	max-width: 98%;
	margin: 15px auto;
	text-align: center;
}

th {
	background-color: #F3A957;
	font-family: TF2;
	font-size: 36px;
	padding: 5px 0px;
	border-radius: 10px;
}

#quick-access {
	width: auto;
	max-width: 98%;
	margin: 0px auto;
	background-color: #F3A957;
	padding: 2px;
	border-radius: 4px;
	font-size: 24px;
	font-family: TF2Secondary;
}

.class-portrait {
	width: 120px;
	max-width: 100%;
	display: block;
}

.class-icon {
	height: 30px;
	margin-right: 10px;
}

.nav-text {
	background-color: #3E3E3E;
	color: #F5E5C1;
	padding: 1px 15px;
	border-radius: 5px;
}
