h1 {
	font-family: TF2 Build;
	font-size: 64px;
	text-align: center;
	color: #F4722B;
	text-shadow: 3px 3px #141414;
}

table {
	table-layout: fixed;
	width: 1200px;
	max-width: 98%;
	margin: 15px auto;
}

th {
	background-color: #F3A957;
	font-family: TF2;
	font-size: 36px;
	padding: 5px 0px;
	border-radius: 10px 10px 10px 10px;
}

.quick-access {
	width: fit-content;
	height: fit-content;
	margin: 25px auto;
	text-align: center;
	background-color: #F3A957;
	padding: 3px 3px 0px 3px;
	border-radius: 4px;
}

.class-portrait {
	max-width: 120px;
}

.class-icon {
	height: 30px;
	margin-right: 10px;
}

/* -- Perks -- */

.item-perk {
	background-color: #3C362F;
	border-radius: 10px;
	max-width: 150px;
}
